* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

img {
    user-select: none;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #060709;
}

::-webkit-scrollbar-thumb {
    background:  #6C0F50;
}